<!--Форма для оценки состояния тела-->
<form name="body_data" id="body_data" action="/result/" method="get">
    <p>
        Пол
        <select name="gender">
            <option value="0">М</option>
            <option value="1">Ж</option>
        </select>
    </p>
    <p>
        Возраcт
        <input type="text" name="age" id="age">
    </p>
    <p>
        Рост
        <input type="text" name="height_cm" id="height_cm">
    </p>
    <p>
        Вес
        <input type="text" name="weight_kg" id="weight_kg">
    </p>
    <p>
        % содержания жира
        <input type="text" name="fat" id="fat">
    </p>
    <p class="contact-input">
        Нижнее артериальное давление
        <input type="text" name="diastolic" id="diastolic">
    </p>
    <p>
        Верхнее артериальное давление
        <input type="text" name="systolic" id="systolic">
    </p>
    <p>
        Сила хвата
        <input type="text" name="gripForce" id="gripForce">
    </p>
    <p>
        Наклон в положение сидя (см.)
        <input type="text" name="sit_and_bend" id="sit_and_bend">
    </p>
    <p>
        Количество приседаний (макс. кол. раз)
        <input type="text" name="situps" id="situps">
    </p>
    <p>
        Прыжок в длину (см.)
        <input type="text" name="jump_cm" id="jump_cm">
    </p>

    <input type="submit" value="Получить оценку">
</form>
