<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Форма расчётов</title>
  <link rel="stylesheet" href="style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

  <h1 style="margin-left: 35%; font-weight: bold; font-size: large; padding-top: 1%;">
    Расскажите немного о себе (все поля обязательны)
  </h1>

  <form name="body_data" id="body_data" action="/result/" method="get">
    <fieldset class="contact-inner">
    
      <p class="contact-input">
        <input type="text" name="first_name" id="first_name" placeholder="Ваше имя" autofocus>
      </p>

      <p class="contact-input">
        Пол
        <select name="gender" placeholder="Ваше имя">
          <option value="0">М</option>
          <option value="1">Ж</option>
        </select>
      </p>

      <p class="contact-input">
        Возврат
                <input type="text" name="age" id="age">
      </p>

      <p class="contact-input">
        Рост
                <input type="text" name="height_cm" id="height_cm">
      </p>

      <p class="contact-input">
        Вес
                <input type="text" name="weight_kg" id="weight_kg">
      </p>

      <p class="contact-input">
        % содержания жира
        <input type="text" name="fat" id="fat">
      </p>

      <p class="contact-input">
        Нижнее артериальное давление
                <input type="text" name="diastolic" id="diastolic">
      </p>

      <p class="contact-input">
        Верхнее артериальное давление
        <input type="text" name="systolic" id="systolic">
      </p>

      <p class="contact-input">
        Сила хвата
                <input type="text" name="gripForce" id="gripForce">
      </p>

      <p class="contact-input">
        Наклон в положение сидя (см.)
                <input type="text" name="sit_and_bend" id="sit_and_bend">
      </p>

      <p class="contact-input">
        Количество приседаний (макс. кол. раз)
                <input type="text" name="situps" id="situps">
      </p>

      <p class="contact-input">
        Прыжок в длину (см.)
                <input type="text" name="jump_cm" id="jump_cm">
      </p>

      <p class="submit">
        <input type="submit" value="Получить оценку">
      </p>
    </fieldset>
  </form>

</body>
</html>
