<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>

    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="header">
        <h1>Приветствуем вас на нашем сайте!</h1>
        <h3>Мы предоставим оценку физическим возомжностям вашего тела и здоровья</h3>
    </div>

    <a href="calculate.html"><button> Начать  </button></a>

    <footer>
        <span> © 2022 OOO "Kazakh&Technologies"</span>
        <span>
            Контакты
            Полезная информация
        </span>
    </footer>
</body>
</html>